html, body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.container-fluid {
    min-height: 100%;
}

#lcolumn {
    background-color: #06283d;
    color: #F7F7FF;
    min-height: 100vh;
}

#rcolumn {
    background-color: #DAD2D8;
    color: #06283d;
    min-height: 100vh;
}

#personal-title {
    font-size: 2rem;
    margin: 0;
}

.personal-tags {
    margin: 5px 0;
    display: none;
}

#intro {
    margin-top: 30px;
    line-height: 1.5;
}

.button-container {
    margin-top: 20px;
}

.btn-custom {
    background-color: #274c63;
    color: #F7F7FF;
    box-shadow: 1px 1px #06283d;
    border: none;
    margin: 5px;
    padding: 8px 12px;
}

.btn-custom:hover {
    opacity: 0.8;
    box-shadow: 4px 4px #041e30;
    color: #F7F7FF;
}

.socials-container {
    display: flex;
    align-items: center;
}

.social-icons {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    transition: fill 0.3s ease, transform 0.3s ease;
}

.social-icons:hover {
    transform: scale(1.2);
}

#linkedin-icon {
    color: #4E878C;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    margin-left: 2px;
    margin-top: 2px;
}

#linkedin-icon:hover {
    color: #0077B5;
    background-color: white;
    width: 52px;
    height: 52px;
    margin-left: 0px;
    margin-top: 0px;
}

#github-icon {
    color: #4E878C;
    border-radius: 1000px;
    width: 48px;
    height: 48px;
    margin-left: 12px;
    margin-top: 2px;
}

#github-icon:hover {
    color: #333;
    background-color: white;
    width: 52px;
    height: 52px;
    margin-left: 10px;
    margin-top: 0px;
}

.fade-in {
    display: none;
}

@media (max-width: 991.98px) {
    #lcolumn, #rcolumn {
        min-height: auto;
    }
    
    .container-fluid {
        height: auto;
    }
}